<!--
 * @Author: liweilong
 * @Date: 2020-11-29 18:14:43
-->
{{ extend '../../layout/layout.html' }}

{{ block 'head' }}
<!-- <link rel="stylesheet" href="/public/plugins/icheck-bootstrap/icheck-bootstrap.min.css"> -->
<link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/public/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

{{ /block }}

{{ block 'title' }}
添加工作内容
{{ /block }}


{{ block 'content' }}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">添加工作</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">首页</a></li>
            <li class="breadcrumb-item "><a href="/admin/jobcontent">工作内容</a></li>
            <li class="breadcrumb-item active">添加内容</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">添加兼职内容</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          {{ if jobcontent }}
          <form class="row" id="jobform" action="/admin/jobcontent/edit" method="post">
            <div class="card-body col-6">
              <div class="form-group">
                <label for="job_title">标题</label>
                <input type="text" class="form-control" id="job_title" placeholder="请输入工作标题" name="job_title" value="{{jobcontent.job_title}}">
                <input type="text" hidden value="{{jobcontent.id}}" name="id">
              </div>
              <div class="form-group">
                <label for="address">地址</label>
                <input type="text" class="form-control" id="address" placeholder="请输入地址（可不填）" name="address" value="{{jobcontent.address}}">
              </div>
              <div class="form-group">
                <label for="company">公司</label>
                <input type="text" class="form-control" id="company" placeholder="请输入公司名（可不填）" name="company" value="{{jobcontent.company}}">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">缩略图</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="text" class="custom-file-input" id="img_input" value="{{jobcontent.image_url}}" name="image_url" style="opacity: 1;">
                  </div>
                </div>
              </div>
              
              <!-- 分类 -->
              <div class="form-group">
                <label>工作分类{{jobcontent.position}}</label>
                <select class="form-control" name="position" value="{{jobcontent.position}}">
                  <option value="0">暂无</option>
                  {{ each positionList position }}
                  {{ if position === jobcontent.position }}
                  <option value="{{position.name}}" selected>{{position.name}}</option>
                  {{ else }}
                  <option value="{{position.name}}">{{position.name}}</option>
                  {{ /if }}
                 
                  {{ /each }}
                </select>
              </div>

            </div>
            <!-- /.card-body -->
            <div class="card-body col-6">
              <div class="form-group">
                <label for="time">时间(天/时)</label>
                <input type="text" class="form-control" id="time" name="time" placeholder="请输入时间" value="{{jobcontent.time}}">
              </div>
              <div class="form-group">
                <label for="wage">薪资</label>
                <input type="text" class="form-control" id="wage" name="wage" placeholder="请输入时薪资" value="{{jobcontent.wage}}">
              </div>
              <div class="form-group">
                <label for="job_require">工作要求</label>
                <textarea class="form-control" rows="3" placeholder="请输入工作要求" name="job_require" >{{jobcontent.job_require}}</textarea>
              </div>
              <div class="form-group">
                <label for="job_content">工作内容</label>
                <textarea class="form-control" rows="3" placeholder="请输入工作内容" name="job_content" >{{jobcontent.job_content}}</textarea>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary edit_btn">编辑</button>
            </div>
          </form>
          {{ else }}
          <form class="row" id="jobform">
            <div class="card-body col-6">
              <div class="form-group">
                <label for="job_title">标题</label>
                <input type="text" class="form-control" id="job_title" placeholder="请输入工作标题" name="job_title">
              </div>
              <div class="form-group">
                <label for="address">地址</label>
                <input type="text" class="form-control" id="address" placeholder="请输入地址（可不填）" name="address">
              </div>
              <div class="form-group">
                <label for="company">公司</label>
                <input type="text" class="form-control" id="company" placeholder="请输入公司名（可不填）" name="company">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">缩略图</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">选择图片（可选填）</label>
                    <input type="text" hidden id="img_input" name="image_url">
                  </div>
                </div>
                <img src="" id="img_wrap" alt="" style="width: 200px; height: 150px;display: none;">
              </div>
              <!-- 属性 -->
              <div class="form-group mt-3" data-select2-id="82">
                <label>属性</label>
                <div class="select2-purple" data-select2-id="72">
                  <select class="select2_1 select2-hidden-accessible" multiple="" data-placeholder="请输入工作属性"
                    data-dropdown-css-class="select2-purple" style="width: 100%;" data-select2-id="15" tabindex="-1"
                    aria-hidden="true" name="cates">
                    <option data-select2-id="73">日结</option>
                    <option data-select2-id="74">时薪</option>
                    <option data-select2-id="75">包吃</option>
                    <option data-select2-id="76">包住</option>
                    <option data-select2-id="77">限男生</option>
                    <option data-select2-id="78">限女生</option>
                    <option data-select2-id="79">工商认证</option>
                    <option data-select2-id="80">有提成</option>
                    <option data-select2-id="81">简单易做</option>
                    <option data-select2-id="82">完工结</option>
                  </select>
                  <span
                    class="select2 select2-container select2-container--default select2-container--above select2-container--focus "
                    dir="ltr" data-select2-id="16" style="width: 100%;"><span class="selection d-none"><span
                        class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="-1" aria-disabled="false" expanded="true">
                        <ul class="select2-selection__rendered">
                          <li class="select2-search select2-search--inline"><input class="select2-search__field"
                              type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none"
                              spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder="请选择属性"
                              style="width: 530.5px;"></li>
                        </ul>
                      </span></span><span class="dropdown-wrapper" aria-hidden="true"></span>
                  </span>
                </div>
              </div>
              <!-- 分类 -->
              <div class="form-group">
                <label>工作分类</label>
                <select class="form-control" name="position">
                  <option value="0">暂无</option>
                  {{ each positionList position }}
                  <option value="{{position.name}}">{{position.name}}</option>
                  {{ /each }}
                </select>
              </div>

            </div>
            <!-- /.card-body -->
            <div class="card-body col-6">
              <div class="form-group">
                <label for="time">时间(天/时)</label>
                <input type="text" class="form-control" id="time" name="time" placeholder="请输入时间">
              </div>
              <div class="form-group">
                <label for="wage">薪资</label>
                <input type="text" class="form-control" id="wage" name="wage" placeholder="请输入时薪资">
              </div>
              <div class="form-group">
                <label for="job_require">工作要求</label>
                <textarea class="form-control" rows="3" placeholder="请输入工作要求" name="job_require"></textarea>
              </div>
              <div class="form-group">
                <label for="job_content">工作内容</label>
                <textarea class="form-control" rows="3" placeholder="请输入工作内容" name="job_content"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary save_btn">添加</button>
            </div>
          </form>
          {{ /if }}
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
  </div>
  <!-- /.content -->
</div>
{{ /block }}


{{ block 'footer' }}
<script src="/public/plugins/select2/js/select2.full.min.js"></script>
<script>
  $('.select2_1').select2()

  // 表单提交
  $('.save_btn').on('click', function (event) {
    event.preventDefault()
    let formData = $('#jobform').serialize()
    $.ajax({
      url: '/admin/jobcontent/add',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (res) {
        if (res.code === 200) {
          $('input[name=job_title]').val('')
          $('input[name=address]').val('')
          $('input[name=image_url]').val('')
          $('textarea[name=job_content]').val('')
          $('textarea[name=job_require]').val('')
          $('input[name=company]').val('')
          $('select[name=cates]').val([]).trigger('change')
          $('select[name=position]').val('')
          $('input[name=time]').val('')
          $('input[name=wage]').val('')
          popout.success(res.msg)
          $('#img_wrap').hide()
          $('.custom-file').show()
          $('#img_wrap').attr('src', '')
        } else {
          let keylist = Object.keys(res.msg)
          keylist.forEach(key => {
            let error = res.msg[key].message
            popout.error(error)
          })
          
        }
      }
    })
  })

  // 上传图片
  $('#exampleInputFile').change(function () {
    let formData = new FormData()
    formData.set('image_url', this.files[0])
    $.ajax({
      url: '/admin/jobcontent/upload',
      type: 'post',
      data: formData,
      processData: false,
      contentType: false,
      success: function (res) {
        console.log(res);
        if (res.code === 200) {
          let { img_url } = res.data
          $('#img_wrap').attr('src', img_url)
          $('#img_wrap').show()
          $('.custom-file').hide()
          $('#img_input').val(img_url)
        } else {
          popout.error('上传失败')
        }
      }
    })
  })
</script>
{{ /block }}