<!--
 * @Author: liweilong
 * @Date: 2020-11-30 09:20:09
-->

{{ extend '../../layout/layout.html' }}

{{ block 'title' }}
工作内容
{{ /block }}


{{ block 'content' }}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">工作列表</h4>
        </div><!-- /.col -->
        <a class="col-sm-1 offset-5" href="/admin/jobcontent/add">
          <button type="button" class="btn btn-sm btn-primary btn-flat">添加工作</button>
        </a><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="row flex-wrap">
      {{ each jobcontentList jobcontent }}
      <div class="m-3 mt-0" style="width: 300px;">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-truncate" style="width: 200px;">{{jobcontent.job_title}}</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="折叠">
                <i class="fas fa-minus"></i>
              </button>
              <button class="btn btn-tool">
                <a href="/admin/jobcontent/add?id={{jobcontent.id}}" class="text-decoration-none" style="color: #adb5bd;">
                  <i class="fas fa-pencil-alt">
                  </i>
                </a>
              </button>
              <button type="button" class="btn btn-tool del_btn" data-id="{{jobcontent.id}}" title="删除">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row flex-column justify-content-center align-items-center">
              <img src="{{jobcontent.image_url}}" alt="" class=" rounded-sm" style="width: 200px;height: 200px;">
              {{ if jobcontent.address }}
              <div class="mt-2">{{jobcontent.address}} </div>
              {{ else }}
              <div class="mt-2">{{jobcontent.company}} </div>
              {{ /if }}

            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer position-relative">
            <div class="row">
              {{ each jobcontent.cates cate }}
              <button type="button" class="btn btn-sm btn-outline-danger btn-flat mr-2">{{cate}}</button>
              {{ /each }}
              <button type="button" class="btn btn-sm btn-primary btn-flat position-absolute"
                style="right: 10px">{{jobcontent.position}}</button>
            </div>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
      {{ /each }}
    </div>


  </div>
  <!-- /.content -->
</div>
{{ /block }}


{{ block 'footer' }}
<script>
  $('.del_btn').click(function () {
    let id = $(this).attr('data-id')
    popout.confirm({
      title: '你确定要删除该内容吗？'
    }).then(result => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/admin/jobcontent/del',
          method: 'post',
          data: {
            id: id
          },
          success: function (data) {
            if (data.code === 200) {
              popout.success(data.msg)
              setTimeout(function () {
                window.location.reload()
              }, 1000)
            } else {
              popout.error(data.msg)
            }
          }
        })
      }
    })
  })
</script>
{{ /block }}