<!--
 * @Author: liweilong
 * @Date: 2020-11-27 09:06:11
-->
{{ extend '../../layout/layout.html' }}

{{ block 'title' }}
活动展示
{{ /block }}

{{ block 'content' }}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">活动展示内容</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">首页</a></li>
            <li class="breadcrumb-item active">活动展示</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <a href="/admin/slideactive/add" class="btn btn-primary">添加</a>
              </h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th>图片</th>
                    <th>简介</th>
                    <th>简介颜色</th>
                    <th>按钮文字</th>
                    <th>跳转链接</th>
                    <th>背景色彩</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {{ each slideActives slideActive}}
                  <tr style="height: 80px;
                  line-height: 80px;">
                    <td>{{ slideActive.title }}</td>
                    <td>
                      <img src="{{ slideActive.image_url }}" alt="" style="width: 120px;height: 80px;">
                    </td>
                    <td>{{ slideActive.desc }}</td>
                    <td data-color="{{ slideActive.desc_color}}" class="desc_color"></td>
                    <td>{{ slideActive.btn_text }}</td>
                    <td>{{ slideActive.link_url }}</td>
                    <td data-color="{{ slideActive.bg_color}}" class="td_bg_color"></td>
                    <td>
                      <a href="javascript:void(0)" class="btn btn-danger del_btn" data-id="{{ slideActive.id }}">删除</a>
                      <a href="/admin/slideActive/add?id={{slideActive.id}}" class="btn btn-info">编辑</a>
                    </td>
                  </tr>
                  {{ /each }}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
{{ /block }}


{{ block 'footer' }}
<script>
  $('.del_btn').click(function () {
    let id = $(this).attr('data-id')

    layer.confirm('是否要删除该内容?', { icon: 0, title: '提示' }, function (index) {
      $.get('/admin/slideactive/del', { id: id }, function (data) {
        layer.close(index);
        if (data.code === 200) {
          layer.msg(data.msg, { icon: 1 });
          setTimeout(function () {
            window.location.reload()
          }, 1000)
        } else {
          layer.msg(data.msg, { icon: 2 });
        }
      })
    });
  })

  $('.td_bg_color').each(function () {
    let color = $(this).attr('data-color')
    $(this).css({
      'background-color': color
    })
  })

  $('.desc_color').each(function () {
    let color = $(this).attr('data-color')
    $(this).css({
      'background-color': color
    })
  })
</script>
{{ /block }}