<!--
 * @Author: liweilong
 * @Date: 2020-11-27 12:23:27
-->
{{ extend '../../layout/layout.html' }}

{{ block 'title' }}
工作轮播图内容
{{ /block }}

{{ block 'content' }}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">工作轮播图内容</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">首页</a></li>
            <li class="breadcrumb-item active">工作轮播图</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <a href="/admin/bannerjob/add" class="btn btn-primary">添加</a>
              </h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th>标题icon</th>
                    <th>图片</th>
                    <th>工作岗位</th>
                    <th>地址</th>
                    <th>工作天/时</th>
                    <th>工作薪资</th>
                    <th>跳转链接</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {{ each bannerjobs bannerjob}}
                  <tr>
                    <td>{{ bannerjob.title }}</td>
                    <td>
                      <img src="{{ bannerjob.title_image_url }}" alt="" style="width: 80px;height: 80px;">
                    </td>
                    <td>
                      <img src="{{ bannerjob.image_url }}" alt="" style="width: 120px;height: 80px;">
                    </td>
                    <td>{{ bannerjob.part_title }}</td>
                    <td>{{ bannerjob.address }}</td>
                    <td>{{ bannerjob.time }}</td>
                    <td>{{ bannerjob.wage }}</td>
                    <td>{{ bannerjob.link_url }}</td>
                    
                    <td>
                      <a href="javascript:void(0)" class="btn btn-danger del_btn" data-id="{{ bannerjob.id }}">删除</a>
                      <a href="/admin/bannerjob/add?id={{bannerjob.id}}" class="btn btn-info">编辑</a>
                    </td>
                  </tr>
                  {{ /each }}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
{{ /block }}


{{ block 'footer' }}
<script>
  $('.del_btn').click(function () {
    let id = $(this).attr('data-id')

    layer.confirm('是否要删除该内容?', { icon: 0, title: '提示' }, function (index) {
      $.get('/admin/bannerjob/del', { id: id }, function (data) {
        layer.close(index);
        if (data.code === 200) {
          layer.msg(data.msg, { icon: 1 });
          setTimeout(function () {
            window.location.reload()
          }, 1000)
        } else {
          layer.msg(data.msg, { icon: 2 });
        }
      })
    });
  })
</script>
{{ /block }}